{% extends 'layout.html' %}
{% block title %} Sariyanta - Web developer {% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row align-items-center">
        <div class="col-4">
            <div class="hero-text pe-5">
                <h1 class="hero-heading">The modern way to build for the web</h1>
                <p class="hero-desc">Webflow empowers designers to build professional, custom websites in a completely visual canvas with no code.</p>
                <a class="btn btn-large btn-primary rounded-0 py-3 px-4"><strong>Get started</strong> - it's free</a>
            </div>
        </div>
        <div class="col-8">
            <img src="{{ media_url }}/food.jpg" class="w-100" />
        </div>
    </div>
    
</div>
{% endblock %}